<br>
<form action="/quiz" method="post">
  <h5 id="maintext">Capital Punishment/ Death Penalty </h5>
  <pre id="pre">what should we do about the Death Penalty?</pre>
  <ul id="pre">
    <li><input type="radio" name="q1"
        value=" biden sanders buttigieg booker harris yang warren beto klobuchar castro gillibrand "> Abolish it </li>
    <li><input type="radio" name="q1" value=" ryan "> Halt it — for now</li>
    <li><input type="radio" name="q1" value=" weld bullock trump "> Keep it for limited circumstances</li>
  </ul>

  <hr>

  <h5 id="maintext">Election Security </h5>
  <pre id="pre"> How do we make our future elections safe?</pre>
  <ul id="pre">
    <li><input type="radio" name="q2" value=" sanders booker harris warren beto klobuchar castro gillibrand ryan ">
      Mandate Paper Ballots</li>
    <li><input type="radio" name="q2" value=" biden bullock "> Incentivize Paper Ballots</li>
    <li><input type="radio" name="q2" value=" yang buttigieg "> Mobile Voting using Blockchain</li>
    <li><input type="radio" name="q2" value=" trump "> Make no Change</li>
  </ul>

  <hr>

  <h5 id="maintext">The Electoral College </h5>
  <pre id="pre">what should happen to the Electoral College?</pre>
  <ul id="pre">
    <li><input type="radio" name="q3"
        value=" sanders booker harris buttigieg warren castro gillibrand beto weld bullock klobuchar "> Abolish the
      Electoral College </li>
    <li><input type="radio" name="q3" value=" biden yang ryan trump "> Keep the Electoral College</li>
  </ul>

  <hr>

  <h5 id="maintext">Assault Weapons</h5>
  <pre id="pre">What Should Happen to Assault Weapons?</pre>
  <ul id="pre">
    <li><input type="radio" name="q4" value=" booker gillibrand harris klobuchar warren "> Support a ban on assault
      weapons</li>
    <li><input type="radio" name="q4" value=" biden bullock buttigieg castro beto ryan sanders yang "> Support a
      voluntary buyback program</li>
    <li><input type="radio" name="q4" value=" trump "> Nothing, The Exiting Laws Should Stay in Place</li>
  </ul>
  <hr>
  <h5 id="maintext">ACA / Coverage Expansion</h5>
  <pre id="pre">What Kind of Healthcare Should America Have?</pre>
  <ul id="pre">
    <li><input type="radio" name="q5" value=" sanders warren yang "> All in on Medicare for All</li>
    <li><input type="radio" name="q5" value=" booker buttigieg castro beto gillibrand harris trump "> Rethink the whole
      systemn ie: single payer system</li>
    <li><input type="radio" name="q5" value=" biden bullock klobuchar ryan "> Build on the ACA's foundation</li>
  </ul>
  <hr>
  <h5 id="maintext">Illegal Entry</h5>
  <pre id="pre">elimination of criminal penalties for entering the country illegally</pre>
  <ul id="pre">
    <li><input type="radio" name="q6" value=" booker buttigieg castro yang gillibrand harris sanders warren "> Repeal
      The Statute</li>
    <li><input type="radio" name="q6" value=" klobuchar bullock biden ryan beto trump "> Leave The Statute In Place</li>
  </ul>
  <hr>
  <h5 id="maintext">China</h5>
  <pre id="pre">How Should the USA Trade With China?</pre>
  <ul id="pre">
    <li><input type="radio" name="q7" value=" trump "> Support Trump's Approach</li>
    <li><input type="radio" name="q7" value=" booker buttigieg castro yang gillibrand harris beto sanders warren  ">
      Support Trump's Goal, But Different Approach</li>
    <li><input type="radio" name="q7" value=" biden bullock ryan klobuchar "> We Should Not Change Our Trade Patterns
      With China, It is not aht big of a deal. </li>

  </ul>
  <hr>
  <h5 id="maintext">Marijuana</h5>
  <pre id="pre">What Should The USA Do About Marijuana?</pre>
  <ul id="pre">
    <li><input type="radio" name="q8"
        value=" booker buttigieg castro yang gillibrand klobuchar harris beto sanders warren ryan"> Legalize It</li>
    <li><input type="radio" name="q8" value=" bullock "> Let The States Decide</li>
    <li><input type="radio" name="q8" value=" biden weld "> Decriminalize It, But Stop Short of Legalization</li>
    <li><input type="radio" name="q8" value=" trump "> Marijuana Should Be Illegal </li>
  </ul>
  <hr>

  <h5 id="maintext">Defense Budget</h5>
  <pre id="pre">What Should Happen To The Defense Budget?</pre>
  <ul id="pre">
    <li><input type="radio" name="q9" value=" gillibrand harris sanders warren yang castro"> Slash the defense budget
    </li>
    <li><input type="radio" name="q9" value=" biden booker buttigieg klobuchar beto ryan trump bullock"> Boost the
      defense budget</li>
  </ul>
  <hr>

  <h5 id="maintext">Cost of College</h5>
  <pre id="pre">How Much Should College Cost Americans?</pre>
  <ul id="pre">
    <li><input type="radio" name="q10" value=" castro ryan sanders warren "> College Should be Free</li>
    <li><input type="radio" name="q10" value=" biden klobuchar "> Two Years Should be Free</li>
    <li><input type="radio" name="q10" value=" booker buttigieg harris gillibrand "> College Will  Not be Free, But students Should Not Have to Take Debt </li>
    <li><input type="radio" name="q10" value=" yang "> College Should Not Be Free, but the price should be lowered in other ways </li>
  </ul>
  <hr>

  <h5 id="maintext">Student Debts</h5>
  <pre id="pre">What Should Happen to Student Debts?</pre>
  <ul id="pre">
    <li><input type="radio" name="q11" value=" castro buttigieg yang warren "> Cancel some student debt- under certain circumstances</li>
    <li><input type="radio" name="q11" value=" sanders "> cancel ALL student Debt </li>
    <li><input type="radio" name="q11" value=" booker biden gillibrand harris klobuchar beto ryan "> Expand or fix existing debt-relief programs </li>
  </ul>
  <hr>

  <h5 id="maintext">Tarrifs</h5>
  <pre id="pre">Should The US use tarriffs to impose on other countries ie: Iran, China?</pre>
  <ul id="pre">
    <li><input type="radio" name="q12" value=" klobuchar ryan sanders warren yang "> Use tariffs to crack down on certain countries</li>
    <li><input type="radio" name="q12" value=" biden bullock buttigieg gillibrand harrris beto castro booker "> Don’t use tariffs to pressure countries </li>
  </ul>
  <hr>

  <h5 id="maintext">Tech Competition and Antitrust</h5>
  <pre id="pre">Should The US Break Up Tech Giants</pre>
  <ul id="pre">
    <li><input type="radio" name="q13" value=" sanders warren buttigieg "> Break them up</li>
    <li><input type="radio" name="q13" value=" gillibrand beto "> We need to regulate them instead </li>
    <li><input type="radio" name="q13" value=" biden booker bullock castro harris klobuchar ryan "> We need more investigations first</li>
    <li><input type="radio" name="q13" value=" yang "> Allow the tech giants to break themselves up</li>
  </ul>
  <hr>

  <h5 id="maintext">Overseas Deployments</h5>
  <pre id="pre">Should Troops Stay Abroad In Countries like Afghanistan or Syria</pre>
  <ul id="pre">
    <li><input type="radio" name="q14" value=" sanders warren buttigieg gillibrand harris castro beto "> Bring the troops home</li>
    <li><input type="radio" name="q14" value=" biden booker bullock klobuchar ryan yang "> Keep the troops deployed </li>
  </ul>
  <hr>

  <h5 id="maintext">The Wall</h5>
  <pre id="pre">What Should Happen to the Wall</pre>
  <ul id="pre">
    <li><input type="radio" name="q15" value=" castro gillibrand beto buttigieg "> tear down the built parts of the wall</li>
    <li><input type="radio" name="q15" value=" harris ryan sanders warren biden booker "> Don’t support any additional wall funding </li>
    <li><input type="radio" name="q15" value=" klobuchar "> Back additional wall funding in broader immigration legislation</li>
    <li><input type="radio" name="q15" value=" yang bullock "> Back wall funding if experts recommend it</li>
  </ul>
  <hr>

  <h5 id="maintext">Minimum Wage</h5>
  <pre id="pre">Should There be a Universal Minimum Wage?</pre>
  <ul id="pre">
    <li><input type="radio" name="q16" value=" biden booker buttigieg gillibrand harris klobuchar ryan sanders warren castro beto "> Raise the federal minimum wage to $15/hour</li>
    <li><input type="radio" name="q16" value=" bullock "> Raise the federal minimum wage to $12/hour</li>
    <li><input type="radio" name="q16" value=" yang "> Leave the minimum wage up to the states </li>
  </ul>
  <hr>









  <br>
  <div id="centerme">
  <input class="ui medium purple button" type="submit" value="submit">
  </div>
  <br>
  <br>
</form>


<!---
   let biden Counter = 0;
  let sanders Counter = 0;
  let booker Counter = 0;
  let harris Counter = 0;
  let buttigieg Counter = 0;
  let yang Counter = 0;
  let trump Counter = 0;
  let warren Counter = 0;
  let beto Counter = 0;
  let klobuchar Counter = 0;
  let castro Counter = 0;
  let gillibrand Counter = 0;
  let weld Counter = 0;
  let tim ryan Counter = 0;
  let steve bullock Counter = 0; --->
  